<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header {
  background-color: #111214;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  font-family: "Montserrat", sans-serif;
}

nav .container ul {
  gap: 55px;
  color: white;
}

nav .container ul li {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}

nav .container ul li:hover {
  color: red;
}

nav .container .nav_btn button {
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #FE390C;
  background-color: #111214;
  color: #FE390C;
  text-transform: uppercase;
}

nav .container .nav_menu {
  display: none;
}

.hero .container {
  padding: 100px 0px;
  background-color: #FFFFFF05;
  background: url(../imgs/hero_bg_img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Anton", sans-serif;
}

.hero .container .hero_info {
  color: white;
  text-align: center;
}

.hero .container .hero_info h1 {
  color: white;
  font-size: 130px;
  font-weight: 400;
  line-height: 154px;
  text-transform: uppercase;
}

.hero .container .hero_info h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.hero .container .hero_info span {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.section_one .container {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.section_one .container .one_logo {
  width: 50%;
}

.section_one .container .one_logo img {
  width: 100%;
}

.section_one .container .one_info {
  width: 50%;
  padding-top: 80px;
}

.section_one .container .one_info hr {
  border: 1px solid #F2F3F4;
}

.section_one .container .one_info h2 {
  padding: 20px 0px 30px 0px;
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  font-family: "Anton", sans-serif;
}

.section_one .container .one_info p {
  font-family: "Montserrat", sans-serif;
  color: #A9A9AA;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  width: 95%;
}

.section_one .container .one_flex {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 30px;
  font-family: "Anton", sans-serif;
}

.section_one .container .one_flex h1 {
  color: #FE390C;
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.section_one .container .one_flex h2 {
  color: #111214;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.section_one .container .one_bottom {
  display: flex;
  align-items: center;
  gap: 65px;
}

.section_one .container .one_flex_2 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section_one .container .one_flex_2 h1 {
  color: #FE390C;
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
  font-family: "Anton", sans-serif;
}

.section_one .container .one_flex_2 h2 {
  font-family: "Montserrat", sans-serif;
  color: #111214;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  width: 19%;
}

.section_two {
  background-color: #F7F7F7;
}

.section_two .container {
  padding: 100px 0px;
  display: flex;
  align-items: center;
}

.section_two .container .two_left {
  width: 50%;
}

.section_two .container .two_left p {
  color: #A9A9AA;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  padding: 35px 0px;
  width: 67%;
}

.section_two .container .two_flex {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 30px;
  font-family: "Anton", sans-serif;
}

.section_two .container .two_flex h1 {
  color: #FE390C;
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.section_two .container .two_flex h2 {
  color: #111214;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.section_two .container button {
  padding: 16px 24px;
  border-radius: 5px;
  background-color: #FE390C;
  border: none;
  color: white;
}

.section_two .container .two_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section_two .container .two_right_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.section_two .container .two_right_title h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.section_three .container {
  padding: 120px 0px;
}

.section_three .container .three_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-bottom: 30px;
  font-family: "Anton", sans-serif;
}

.section_three .container .three_flex h1 {
  color: #FE390C;
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.section_three .container .three_flex h2 {
  color: #111214;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.section_three .container .three_box {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_three .container .three_cards_flex {
  padding: 30px 0px 20px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.section_three .container .three_cards_flex h1 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  color: #FE390C;
}

.section_three .container .three_cards p {
  font-family: "Montserrat", sans-serif;
  color: #A9A9AA;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  width: 75%;
}

.section_three .container .three_cards:nth-child(2) {
  padding-top: 70px;
}

.section_three .container .three_cards:nth-child(3) {
  padding-top: 110px;
}

.section_three .container .three_cards:nth-child(4) {
  padding-top: 200px;
}

.section_three .container .three_cards_title {
  font-family: "Montserrat", sans-serif;
}

.section_three .container .three_cards_title h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.section_three .container .three_cards_title span {
  display: inline-block;
  color: #FE390C;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.section_four {
  background-color: #F7F7F7;
  padding-bottom: 60px;
}

.section_four .container {
  padding: 80px 0px;
}

.section_four .container .four_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-bottom: 30px;
  font-family: "Anton", sans-serif;
}

.section_four .container .four_flex h1 {
  color: #FE390C;
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.section_four .container .four_flex h2 {
  color: #111214;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.section_four .container .four_partners {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 88px;
}

.section_four .container_four {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #111214;
  padding: 70px 0px;
  text-align: center;
}

.section_four .container_four h1 {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
}

.section_four .container_four .four_btn {
  padding: 40px 0px 30px 0px;
}

.section_four .container_four .four_btn button {
  padding: 16px 24px;
  background-color: #FE390C;
  color: white;
  border: none;
  border-radius: 5px;
}

.section_four .container_four .four_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section_four .container_four .four_icon h4 {
  color: #A9A9AA;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

footer {
  background-color: #0C0C0E;
}

footer .container {
  padding: 30px;
  text-align: center;
}

footer .container .footer_info {
  font-family: "Montserrat", sans-serif;
}

footer .container .footer_info h4 {
  color: #A9A9AA;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

footer .container .footer_info span {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

footer .container .footer_info a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  nav .container {
    padding: 30px 20px;
  }
  nav .container ul {
    display: none;
  }
  nav .container .nav_btn {
    display: none;
  }
  nav .container .nav_menu {
    display: block;
  }
  .hero .container {
    padding: 30px 20px;
  }
  .hero .container .hero_info {
    font-size: 90px;
  }
  .section_one .container {
    padding: 30px 20px;
    flex-direction: column;
  }
  .section_one .container .one_logo {
    width: 100%;
  }
  .section_one .container .one_logo img {
    width: 100%;
  }
  .section_one .container .one_info {
    width: 100%;
  }
  .section_two .container {
    padding: 80px 20px;
    flex-direction: column;
  }
  .section_two .container .two_left {
    width: 100%;
  }
  .section_two .container .two_right {
    width: 100%;
  }
  .section_two .container .two_right_img {
    width: 100%;
  }
  .section_two .container .two_right_img img {
    width: 100%;
  }
  .section_two .container .two_btn {
    padding: 24px 0px 48px 0px;
  }
  .section_three .container {
    padding: 80px 20px;
  }
  .section_three .container .three_box {
    flex-direction: column;
    gap: 50px;
    padding: 60px 0px;
  }
  .section_three .container .three_cards:nth-child(2) {
    padding-top: 0px;
  }
  .section_three .container .three_cards:nth-child(3) {
    padding-top: 0px;
  }
  .section_three .container .three_cards:nth-child(4) {
    padding-top: 0px;
  }
  .section_three .container .three_cards p {
    width: 35%;
  }
  .section_four {
    padding: 80px 20px;
  }
  .section_four .container {
    padding: 60px 15px;
  }
  .section_four .container .four_flex {
    margin-bottom: 50px;
  }
  .section_four .container_four h1 {
    width: 40%;
    line-height: 130%;
    margin: 0 auto;
  }
}
=======
>>>>>>> master
/*# sourceMappingURL=About.css.map */